---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Carlos Ruiz - Systems Engineer & Economist",
  description = "I specialize in AI, Machine Learning, and Econometrics to design AI-powered decision systems."
} = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-slate-950 text-slate-50 mx-auto px-4 py-10">
    <header>
      <slot name="navbar"/>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <slot name="footer"/>
    </footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
